.card-header {
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
}

.ant-table-cell {
  padding-left: 4vh !important;
}

tbody > tr > .ant-table-cell{
  font-family: 'Roboto', sans-serif !important;
  font-size: 0.96em !important;
}

thead > tr > * {
  font-family: 'Roboto-Medium', sans-serif !important;
  font-size: 1.1em !important;
}